# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
ENV/
.envrc

env/
# Django
*.sqlite3
*.log
*.pot
*.pyc
staticfiles/
media/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
.idea/

.migrations/
.vercel
